<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="---------- ADD A LOCAL OR REMOTE URL WITH A MATCHING PORT NUMBER FOUNDIN APP.JS --------------/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="---------- ADD A LOCAL OR REMOTE URL WITH A MATCHING PORT NUMBER FOUNDIN APP.JS --------------/css/style.css" type="text/css" media="screen" />
		
	</head>
	<body>
		
		<div id="container">
		
			<a href="/">Chat it Up</a>
			<a href="/test">test</a>
			<a href="/facebook">Facebook</a>
			
			<h1><%- title %></h1>
		
			<div id="chat-messages-contain">
		
				<div id="chat-messages"></div>
		
			</div>
		
			<form id="chat-form">
			
				<input type="text" id="chat-input">
				<input type="submit" value="Send" id="chat-submit">
			
			</form>
		
		</div>
		
		<script src="---------- ADD A LOCAL OR REMOTE URL WITH A MATCHING PORT NUMBER FOUNDIN APP.JS --------------/js/scripts.js"></script>	
		
	</body>
</html>