<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
	</head>
	<body>
		<a href="/">Chat it Up</a>
		<a href="/test">test</a>
		<a href="/facebook">Facebook</a>
		
		<h1><%- title %></h1>
		
	</body>
</html>